{
  "extends": "../.eslintrc",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true, "packageDir": ["./", "../"] }
    ],
    "quotes": ["error", "single", { "avoidEscape": true }]
  }
}
